<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A CSS Tutorial</title>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/styles.css">
  </head>
  <body>
    <div id="container">


      <header>
        <a id="cssLogo" @click="activePage = 'Index'"><i class="fa fa-css3"></i></a>
        <span id="spanHeaderTitle">CSS Tutorial: {{activePage}}</span>
      </header>





      <aside class="asideNavigation">
        <nav>

          <ul>
            <li v-for="(chapter, idx) in chapters" v-if="chapter.heading === 'h1'">
              <h1>
                <a @click="(activePage = chapter.text) && (activeTag($event))"
                :href="'#' + chapter.heading + '_'+ chapter.text.replace(/\s/g, '-')"
                >
                  {{chapter.text}}
                </a>
              </h1>
            </li>

            <li v-else-if="chapter.heading === 'h2'">
              <h2>
                <a :href="'#' + chapter.heading + '_'+ chapter.text.replace(/\s/g, '-')">
                  {{chapter.text}}
                </a>
              </h2>
            </li>
            <li v-else-if="chapter.heading === 'h3'">
              <h3>
                <a :href="'#' + chapter.heading + '_'+ chapter.text.replace(/\s/g, '-')">
                  {{chapter.text}}
                </a>
              </h3>
            </li>
            <!-- <li v-else-if="chapter.heading === 'h4'">
              <h4>
                <a :href="'#' + chapter.heading + '_'+ chapter.text.replace(/\s/g, '-')">
                  {{chapter.text}}
                </a>
              </h4>
            </li>
            <li v-else-if="chapter.heading === 'h5'">
              <h5>
                <a :href="'#' + chapter.heading + '_'+ chapter.text.replace(/\s/g, '-')">
                  {{chapter.text}}
                </a>
              </h5>
            </li> -->
          </ul>
        </nav>
      </aside>




      <main>
        <!-- INDEX -->
        <section
        class="sectionIndex"
        >
        <!-- v-show="activePage === 'Index'" -->
          <h1>Index</h1>
          This is the index <br>
          Dark blue is rgb(0, 113, 184) <br>
          light blue is rgb(42, 171, 222) <br>
          Gray is rgb(207, 207, 207) <br>
          White is rgb(255, 255, 255)
          <h2>Introduction</h2>
          <p>
            Hello and welcome to the CSS Tutorial. This tutorial works as a point
            of reference for me but also can be used by whomever thinks it might
            be useful to his/her knowledge.
          </p>
          <p>
            This is a basic tutorial about CSS and how we can use different css
            settings to accomplish functionality and a create visibly pleasing
             and functional content when we are building a web page. You should
             already have some familiarity with the structure of an html document
             and how the html tags are nested within each other.
          </p>
          <p>
            As we progress through this tutorial, you will be seeing different
            examples of css and different techniques. This is by no means an
            extensive work portraying how CSS works. On the contrary, there are
            other very good online resources that you can use for that purpose.
            Yet, this resource is being built step by step, as my own knowledge
            and understanding grows and new techniques are being incorporated on
            other projects I am working on.
          </p>
          <p>
            Hence, this work will probaby have pieces of information missing and
            it might be flawed BUT the language I will try to use will be simple
            without too many complicated terms and with a lot of practice areas.
            So let's get started!
          </p>



          <h3>HTML/CSS history</h3>
          <i><b>(by <a href="https://www.linkedin.com/in/davidshin1/" target="_blank">David Shin</a>)</b></i>
          <p>
            In the early days of the world wide web (WWW), documents or other
            information were often sent as simple plain text across the wires
            that formed the internet. Because the original intent was to allow
            scientists to share information at the particle accelerator
            <a href="http://home.cern/" target="_blank">CERN</a>,
            <a href="http://webfoundation.org/about/vision/history-of-the-web/" target="_blank">
              Sir Tim Berners-Lee</a>,
            the inventor of the WWW, developed the Hyper Text Markup Language
            (HTML). HTML included the means to allow some basic formatting of
            the documents being shared.
          </p>
          <p>
            Once styling became more complex and demanding, there was a need for
            a way that would allow the separation of the code that related to the
            styling of the page from the rest of the document. CSS was introduced
            in order to satisfy this need. CSS files are used to control the
            attributes of a webpage, while the overall style of an html page is
            being managed through separate files.
          </p>
          <p>
            By including some type of order and precedence we can keep CSS code
            DRY (don't repeat yourself). This increases readability for the
            developer while reducing the memory requirements on both the client
            and the server side, as well as during the transmission process.
          </p>



          <h2>CSS Syntax</h2>
          <p>
            CSS has a syntax that has some similarities to the way JSON files or
            JavaScript is structured. The main components of CSS are the following:
            <ul>

              <li>
                A selector: is the one that points to the HTML element (or elements)
                that you want to style. If this would be stated in plain English,
                it would read like: <i>I want you to select the <code>h1</code>
                tags.</i>
              </li>
              <li>
                Declarations: These are the different properties that state the
                type of styling you want a particular element to have and what the
                value is. If this would be stated in plain English, it would read
                something like: <em>I want to select the <code>h1</code>
                tags.</em> (selector) <em>and I want their <code>color</code> to
                be <code>green</code></em>.
              </li>
              <li>
                Property: The property is the entity that states what needs to
                change (eg: color, positioning, background, display)
              </li>
              <li>
                Value: The value is the entity that states how the property changes /
                what the value of the property is. If this would be stated in plain
                English, it would read something like: <em>I want to select the <code>h1</code>
                tags.</em> (selector) <em>and I want the following things to happen:</em>
              </li>
              <ul style="width: 100%">
                <li>
                  Declaration: I want the - property - <code>color</code> to have a
                  value <code>green</code>
                </li>
                <li>
                  Declaration: I want the - property - <code>font-size</code> to
                  have a value of <code>16px</code>.
                </li>
              </ul>
            </ul>
          </p>



          <h2>Tutorial examples</h2>
          <p>
            This tutorial has example areas where snippets of code along with the
            returning result are being displayed. The particular areas have the
            advantage of interactivity, so it is easy to change the content if you
            will need to experiment. If for some reason you need to view the original
            example, just click on the "reset" button.
          </p>


          <h2>Practice areas</h2>
          <p>

          </p>

          <div class="divExampleContainer">

          </div>




          <h4>Example</h4>
          <p>
            Here is the example area
          </p>
          <example-area class="exampleArea">
            <span>
              h1{
                color: green;
              }

              p{
                font-family: Tahoma, Arial;
              }
            </span>
            <h1>Hello there I am the slot!</h1>
            <p>I am so happy to be here.<b> Oh yes I am</b></p>
          </example-area>

          <h4>Practice</h4>
          <practice-area></practice-area>
        </section>










        <!-- 000 RESET -->
        <section id="section-000-reset">
        <!-- v-show="activePage === 'Reset'" -->
          <h1>Reset</h1>
          <p>This is a paragraph</p>
          Reset
        </section>










        <!-- 001 SPECIFICITY -->
        <section id="section-001-specificity">
          <!-- v-show="activePage === 'Specificity'" -->
          <h1>Specificity</h1>
        </section>










        <!-- 002 BOX MODEL -->
        <section id="section-002-box-model">
          <!-- v-show="activePage === 'Box Model'" -->
          <h1>Box Model</h1>
        </section>










        <!-- 003 POSITIONING -->
        <section id="section-003-positioning">
          <!-- v-show="activePage === 'Positioning'" -->
          <h1>Positioning</h1>
        </section>










        <!-- 004 TYPOGRAPHY -->
        <section id="section-004-typography">
          <!-- v-show="activePage === 'Typography'" -->
          <h1>Typography</h1>
        </section>










        <!-- 005 BACKGROUNDS -->
        <section id="section-005-backgrounds">
          <!-- v-show="activePage === 'Backgrounds'" -->
          <h1>Backgrounds</h1>
        </section>









        <!-- 006 TRANSFORMS -->
        <section id="006-transforms" >
          <!-- v-show="activePage === 'Transforms'" -->
          <h1>Transforms</h1>
          <h2>Are you ready for the truth?</h2>
          <p>put the anchors (or have the computed property navigate you where you need)</p>
          <p>change the fonts</p>
          <p>connect with the computed property that changes to the right chapter</p>
          <p>
            Now that we know who you are, I know who I am. I'm not a mistake! It all makes
            sense! In a comic, you know how you can tell who the arch-villain's going to
            be? He's the exact opposite of the hero. And most times they're friends,
            like you and me! I should've known way back when... You know why, David?
            Because of the kids. They called me Mr Glass.
          </p>

          <h2>Uuummmm, this is a tasty burger!</h2>
          <p>
            Now that we know who you are, I know who I am. I'm not a mistake! It all makes
            sense! In a comic, you know how you can tell who the arch-villain's going to be?
            He's the exact opposite of the hero. And most times they're friends, like you
            and me! I should've known way back when... You know why, David? Because of
            the kids. They called me Mr Glass.
          </p>

          <h3>Uuummmm, this is a tasty burger!</h3>
          <p>
            You think water moves fast? You should see ice. It moves like it has a mind.
            Like it knows it killed the world once and got a taste for murder.
            After the avalanche, it took us a week to climb out. Now, I don't know exactly
            when we turned on each other, but I know that seven of us survived the slide...
            and only five made it out. Now we took an oath, that I'm breaking now.
            We said we'd say it was the snow that killed the other two, but it wasn't.
            Nature is lethal but it doesn't hold a candle to man.
          </p>

          <h4>Uuummmm, this is a tasty burger!</h4>
          <p>
            My money's in that office, right? If she start giving me some bullshit about
            it ain't there, and we got to go someplace else and get it, I'm gonna shoot you
            in the head then and there. Then I'm gonna shoot that bitch in the kneecaps,
            find out where my goddamn money is. She gonna tell me too. Hey, look at me
            when I'm talking to you, motherfucker. You listen: we go in there, and that
            nigga Winston or anybody else is in there, you the first motherfucker to get
            shot. You understand?
          </p>

          <p>
            The path of the righteous man is beset on all sides by the iniquities of the
            selfish and the tyranny of evil men. Blessed is he who, in the name of charity
            and good will, shepherds the weak through the valley of darkness, for he is
            \truly his brother's keeper and the finder of lost children. And I will strike
            down upon thee with great vengeance and furious anger those who would attempt
            to poison and destroy My brothers. And you will know My name is the Lord when
            I lay My vengeance upon thee.
          </p>

          <h5>No, motherfucker</h5>
          <p>
            The path of the righteous man is beset on all sides by the iniquities of the
            selfish and the tyranny of evil men. Blessed is he who, in the name of charity
            and good will, shepherds the weak through the valley of darkness, for he is
            \truly his brother's keeper and the finder of lost children. And I will strike
            down upon thee with great vengeance and furious anger those who would attempt
            to poison and destroy My brothers. And you will know My name is the Lord when
            I lay My vengeance upon thee.
          </p>

          <h6>No, motherfucker</h6>
          <p>
            The path of the righteous man is beset on all sides by the iniquities of the
            selfish and the tyranny of evil men. Blessed is he who, in the name of charity
            and good will, shepherds the weak through the valley of darkness, for he is
            \truly his brother's keeper and the finder of lost children. And I will strike
            down upon thee with great vengeance and furious anger those who would attempt
            to poison and destroy My brothers. And you will know My name is the Lord when
            I lay My vengeance upon thee.
          </p>

        </section>


      </main>
      <footer>
        <span>
          CSS Tutorial 2018 | No rights reserved |
          <a href="http://addeventlistener.com" target="_blank">Paraskevas Apostolopoulos</a>
        </span>
      </footer>
    </div>

  </body>
  <script type="text/javascript" src="assets/javascript/script.js"></script>
</html>
