/*
  ========================================
  003 Positioning
  ========================================
*/
body {
	display: block;
}

#container {
	display: table;
}

aside {
	display: table-cell;
}

section {
	display: table-cell;
}

footer {
	display: block;
}

#interactiveSectionId {
	display: table-cell;
}

#floatedNumber{
	float: right;
}
