/*
  ========================================
  004 Typography
  ========================================
*/

html {
	font: normal normal 400 100%/40px "Open Sans", Helvetica, Arial, sans-serif;
	color: rgb(22, 25, 37);
}

h1 {
	font-size: 3.2rem;
	line-height: 5.2rem;
	font-family: Arial;
	font-weight: 600;
}

h2 {
	font-size: 2.5rem;
	line-height: 4.5rem;
	font-family: Arial;
}

h3 {
	font-size: 2rem;
	line-height: 4.5rem;
	font-family: Arial;
}

p {
	line-height: 1.4rem;
	font-size: 1.2rem;
}

li {
	line-height: 1.8rem;
	font-size: 1.2rem;
}

aside header nav ol li a {
	font-family: Helvetica;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-decoration: none;
	line-height: 50px;
	font-size: 1rem;
}

aside header nav ol li a:hover {
	color: rgb(142, 168, 195);
	text-shadow: 2px 2px rgb(0, 0, 0);
}

code {
	color: rgb(107, 247, 237);
	font-size: 1.2rem;
}

footer {
	font-family: arial;
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(255,255,255);
	line-height: 50px;
}

.mainSectionUl {
	list-style-type: square;
}

#menuBarUl {
	list-style-type:decimal;
	color: rgb(255,255,255);
	font-family: Helvetica;
	font-weight: bold;
}

#previousNextDiv {
	word-spacing: 20px;
}

#previousNextDiv a {
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	font-family: Helvetica;
	text-decoration: none;
	color: rgb(22, 25, 37);
}

#previousNextDiv a:hover {
	color: rgb(64, 110, 142);
	text-shadow: 1px 1px rgb(22, 25, 37);
}

#floatedNumber{
	color: rgb(107, 247, 237);
}

#floatedNumber {
	font-size: 3.2rem;
	line-height: 5.2rem;
	font-family: Arial;
	font-weight: 600;
}

.fa {
	font-size: 250%;
	color: rgb(255, 255, 255);
}
