/*
  ========================================
  005 Backgrounds
  ========================================
*/

html {
	background-color: rgb(255, 255, 255);
}

body {
	background-color: rgb(255, 255, 255);
}

aside {
	background-color: rgb(35, 57, 91);
}

code {
	background-color: rgb(22, 25, 37);
}

footer {
	background-color: rgb(35, 57, 91);
}

#codeSectionDiv {
	background-color: rgb(22, 25, 37);
}
