/*
  ========================================
  Generic
  ========================================
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
  outline: 0;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font: normal normal normal 16px/22px helvetica, arial, sans-serif;
}

#container{
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
}

header{
  grid-area: header;
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(0, 113, 184);
  border-bottom: 2px solid rgb(0, 113, 184);
}

#spanHeaderTitle{
  align-self: center;
  margin: 1vh 0 .5vh 0;
  color: rgb(0, 113, 184);
  font-size: 7vh;
}

#cssLogo{
  position: absolute;
  left: 8vw;
  align-self: center;
  font-size: 8vh;
}

aside{
  grid-area: aside;
  height: 80vh;
  overflow: auto;
  padding: 10px;
  /* color: rgb(42, 171, 222); */
}

main{
  grid-area: main;
  height: 80vh;
  overflow: auto;
  padding: 10px;
}

footer{
  grid-area: footer;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
	border-top: 1px solid rgb(0, 113, 184);
	background-color: rgb(0, 79, 128);
	color: white;
	font-size: 22px;
}

footer a{
	color: white;
}

h1, h2, h3, h4{
  color: rgb(0, 113, 184);
  font-family: georgia;
}

section h1{
  font-size: 6vh;
  line-height: 6vh;
  margin: 6vh 0 .5vh 0;
}

section h2{
  font-size: 5vh;
  line-height: 5vh;
  margin: 7vh 0 .5vh 0;
}

section h3{
  font-size: 4vh;
  line-height: 4vh;
  margin: 4vh 0 .5vh 0;
}


section h4{
  font-size: 3vh;
  line-height: 3vh;
  margin: 4vh 0 .5vh 0;
  font-weight: bold;
}

section h5{
  font-size: 16px;
  line-height: 2vh;
  margin: 3vh 0 .5vh 0;
  font-weight: bold;
}

section h6{
  font-size: 16px;
  line-height: 2vh;
  margin: 3vh 0 .5vh 0;
  font-weight: bold;
  font-style: italic;
}

section p, section ul{
  width: 60%;
  margin-bottom: 10px;
}

section ul{
	padding-left: 2vw;
	list-style: none;
}

section ul li::before{
	content: "\2192";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(0, 113, 184); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
	font-size: 4vh;
	padding-top: 1vh;
  /* width: 1em; /* Also needed for space (tweak if needed) */
  /* margin-left: -1em; /* Also needed for space (tweak if needed) */
}

b{
	font-weight: bold;
}

em{
	font-style: italic;
}


aside h1,
aside h2,
aside h3,
aside h4,
aside h5 {
  font-family: arial;
  /* color: rgb(42, 171, 222); */
}

aside h1{
  font-size: 28px;
  line-height: 30px;
  margin: 0;
}

aside h2{
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-indent: 10px;
}

aside h3{
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  text-indent: 20px;
}

aside h4{
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  text-indent: 30px;
}

aside a{
  text-decoration: none;
	color: rgb(0, 113, 184);
}

aside a:hover{
  cursor: pointer;
  color: rgb(0, 79, 128);
  text-decoration: underline;
}

code{
	white-space: pre;
	font-family: "Monaco";
	background-color: rgb(0, 113, 184);
	color: white;
	font-weight: bold;
	padding: 0 4px;
}

.divExampleContainer{
  background-color: rgb(0, 113, 184);
}

.anchorActiveTag{
  color: rgb(0, 79, 128);
  font-weight: bold;
}


.divPractice, .divExample{
  height: 78vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "textAreaPracticeHtml iFramePractice"
  "textAreaPracticeCss iFramePractice";
  border: 2px solid rgb(207, 207, 207);
  grid-column-gap: 4px;
  gap: 4px 2px;
  padding: 0;
}

textarea{
  resize: none;
  padding: 10px;
	color: white;
	background-color: rgb(0, 113, 184);
	font-family: "Monaco";
	font-weight: bold;
}

textarea:focus{
  box-shadow: inset .5px .5px 0 2px rgb(0, 113, 184);
  background-color: rgb(0, 79, 128);
}

.exampleArea{
	position: relative;
}

.spanExampleArea{
	display: none;
}

button{
	background-color: rgb(0, 113, 184);
	color: white;
	font-weight: bold;
	padding: 10px;
	border: 2px solid rgb(0, 79, 128);
}

button:hover{
	background-color: rgb(0, 79, 128);
	cursor: pointer;
}

button:active{
	background-color: white;
	color: rgb(0, 79, 128);
}

.buttonExampleArea{
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 8px;
}

::placeholder{
	color: rgb(207, 207, 207);
}

.textAreaPracticeHtml{
  grid-area: textAreaPracticeHtml;
  border-bottom: 2px solid rgb(207, 207, 207);
  border-right: 2px solid rgb(207, 207, 207);
}

.textAreaPracticeCss{
  grid-area: textAreaPracticeCss;
  border-top: 2px solid rgb(207, 207, 207);
  border-right: 2px solid rgb(207, 207, 207);
}

.iFramePractice{
  gridArea: iFramePractice;
  width: 100%;
  height: 200%;
}


/* This is probably going to be used for the reset section inside the content */
.sectionReset {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
