/*
  ========================================
  Generic
  ========================================
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
  outline: 0;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font: normal normal normal 14px/16px arial, helvetica, sans-serif;
}

#container{
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
}

header{
  grid-area: header;
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(0, 113, 184);
  border-bottom: 2px solid rgb(0, 113, 184);
}

header h1{
  align-self: center;
}

#cssLogo{
  position: absolute;
  left: 10px;
  align-self: center;
  font-size: 8vh;
}

aside{
  grid-area: aside;
  height: 80vh;
  overflow: auto;
  padding: 10px;
  color: rgb(42, 171, 222);
}

main{
  grid-area: main;
  height: 80vh;
  overflow: auto;
  padding: 10px;
}

footer{
  grid-area: footer;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  font-size: 5vh;
  line-height: 5vh;
  margin: 1vh 0 .5vh 0;
}

aside h2{
  font-size: 3vh;
  line-height: 4vh;
}

a:hover{
  cursor: pointer;
  color: rgb(0, 113, 184);
  text-decoration: underline;
}

.anchorActiveTag{
  color: rgb(0, 113, 184);
  font-size: bold;
}


/* This is probably to be viewed used for the reset section inside the content */
.sectionReset {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


/*
  ========================================
  006 Transforms
  ========================================
*/

section{
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}
